.wrapper {
    padding: 20px 0;
    min-height: 700px;
    display: grid;
    grid-template-columns: 50% auto;
    gap: 20px;
    font-size: 1.6rem;
    li {
        display: block;
    }
    h3 {
        text-align: center;
    }
}

.block_left {
    padding: 10px;
    height: 600px;
    overflow: auto;
}

.list {
    width: 100%;
    td,
    th {
        border: 1px solid #000;
    }
    text-align: center;
}

.block_right {
    padding: 10px;
}

.form{
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}
