@import "../../../vars";

.sidebar {
    text-transform: uppercase;
    white-space: nowrap;
    width: 270px;
    margin-top: 5px;
    li {
        display: block;
        margin-bottom: 10px;
        font-size: 1.5rem;
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            outline: none;
            display: block;
            color: #fff;
            background-color: $mainColor;
            padding: 2% 5%;
            width: 80%;
            border: none;
            border-bottom: 2px solid #000;
            border-left: 2px solid #000;
            transition: all 0.5s ease;
            &:hover {
                width: 100%;
                outline: none;
                border-radius: 0 10px 10px 0;
            }
        }
        .active {
            width: 100%;
            border-radius: 0 10px 10px 0;
            background-color:#CD6000;
        }
    }
}

.products__filter {
    margin-top: 40px;
    width: 100%;
    min-height: 500px;
    text-align: center;
    h4 {
        text-transform: uppercase;
        border-bottom: 1px solid $mainColor;
        width: 100%;
        padding: 10px 0;
        font-style: italic;
        font-weight: 700;
    }
    p {
        font-family: $cursiveFont;
        font-weight: 700;
        font-size: 2.4rem;
        margin-top: 10px;
    }
    input {
        width: 60px;
        text-align: center;
        height: 40px;
        margin-right: 8px;
    }
    select {
        width: 80%;
    }
    &__price {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    &__width {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}

.filter_btn{
    margin-top: 20px;
}

@media (max-width: 940px) {
    .sidebar__wrapper{
        display: flex;
        justify-content: space-between;
    }
    .products__filter {
        width: 300px;
        min-height: 200px;
        margin-top: 0;
    }
}

@media (max-width: 610px){
    .sidebar{
        display: none;
    }
    .sidebar__wrapper{
        justify-content: center;
    }
}