@import '../../../vars';

.wrapper{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
}

.card{
    position: relative;
    width: 350px;
    height: 650px;
    transition: all 0.5s;
    &:hover{
        box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.72);
    }
}

.img{
    width: 100%;
    height: 300px;
    background-color: #000;
}

.top{
    margin: 20px 0 10px 0;
    border-bottom: 2px solid $mainColor;
    display: flex;
    justify-content: space-between;
}

.bottom{
    width: 90%;
    margin: 0 auto;
    li{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__list{
        text-transform: none;
        font-weight: 400;
        max-height: 22px;
        text-align: center;
        width: 150px;
        border-bottom: 1px solid $mainColor;
        border-radius: 0 0 10px 10px;
    }
}


.card_btn{
    transition: 0.5s;
    padding: 0 5%;
    width: 120px;
    display: inline-block;
}

.articles{
    width: 90%;
    min-height: 1000px;
    padding-left: 10%;
}


.card__input__style{
    background-color: #fff;
    padding: 0;
    border: none;
    &__title{
        text-align: center;
        font-weight: 700;
        width: 100%;
        font-size: 32px;
    }
    &__price{
        width: 150px;
        padding-left: 20px;
        font-size: 24px;
        font-weight: 700;
    }
    &__status{
        width: 150px;
        text-align: right;
        padding-right: 20px;
        font-family: $cursiveFont;
        font-size: 18px;
    }
    &__descr{
        display: inline-block;
        width: 140px; 
        font-weight: 700;
        max-height: 20px;
        text-align: right;
    }  
    &__calc{
        width: 60px;
        text-align: center;
        max-height: 40px;
        font-size: 40px;
        font-weight: 700;
    }
}

.card__control{
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: absolute;
    bottom: 2%;
    left: 10%;
    align-items: center;
    &__btn{
        width: 20px;
        height: 20px;
        margin-top: 10px;
        position: relative;
        cursor: pointer;
        &__minus::before{
            content: '';
            background-color: $mainColor;
            width: 20px;
            height: 4px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        &__plus::before{
            content: '';
            background-color: $mainColor;
            width: 20px;
            height: 4px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        &__plus::after{
            content: '';
            background-color: $mainColor;
            width: 4px;
            height: 20px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__wrapper{
        display: flex;
        justify-content: center;
    }
}