@import '../../../vars';

.paginator{
    width: 100px;
    height: 20px;
    padding-left: 2.25rem;
}

.page_number{
    margin-right: 5px;
    font-weight: 400;
    cursor: pointer;
    font-size: 1.4rem;
}

.selected_page{
    font-weight: 700;
    color: $mainColor;
}