@import '../../../vars';

.menu{
    width: 20%;
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    li{
        display: block;
        margin-bottom: 8px;
    }
    a{
        color: $accentColor;
        &:hover{
            color: #000;
        }
    }
}