.main{
    grid-area: content;
    min-height: 1170px;
    padding: 20px 0 40px;
}

.btn{
    display: block;
    white-space: nowrap;
    text-align: center;
    padding-bottom: 30px;
    letter-spacing: 2px;
    a{
        display: inline-block;
        padding: 20px 40px;
        color: #fff;
        transition: 1s;
        background-color: #696969;
        border-radius: 15px;
        text-transform: uppercase;
        &:hover{
            background-color: #D67800;
            transition: 0.5s;
        }
    }
}

.wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    text-align: center;
    padding-left: 10px;
    a{
        width: 470px;
        height: 470px;
        transition: all 0.4s ease-in;
        &:hover{
            transform: scale(1.04);
        }
    }

    .img_1{
        background: url('../../assets/img/main_img/ring.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #000;
    }
    .img_2{
        background: url('../../assets/img/main_img/shackle.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #000;
    }
    .img_3{
        background: url('../../assets/img/main_img/bracelet.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #000;
    }
    .img_4{
        background: url('../../assets/img/main_img/stud.jpg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #000;
    }
    .img_5{
        background: url('../../assets/img/main_img/manjewerly.jpg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #000;
    }
    .img_6{
        background: url('../../assets/img/main_img/womanjewerly.jpg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #000;
    }
    .img_7{
        background: url('../../assets/img/main_img/newjewerly.jpg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #000;
    }
    .img_8{
        background: url('../../assets/img/main_img/comand.jpg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #000;
    }
    .img_9{
        background: url('../../assets/img/main_img/contacts.png'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #000;
    }
}

.title{
    padding-top: 65%;
    font-size: 2.285714285714286em; /*32px*/ /*14px*/
    font-weight: 700;
    color: #000;
    p{
        display: inline-block;
        padding: 5%;
        width: 100%;
        background-color: rgba(#9999, 0.4);
        line-height: 1;
    }
}