@import "../../vars";
.wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding: 20px 0;
    font-size: 1.6rem;
}

.img,
.item__wrapper,
.info {
    width: 450px;
    height: 450px;
}

.item__wrapper {
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0 10px 20px 10px;
    background-color: #000;
    &:hover {
        .info {
            transform: translateY(0);
        }
    }
}

.info {
    transition: 0.4s all ease-in-out;
    padding: 20px 20px 50px;
    color: #fff;
    background-color: rgba($accentColor, 0.9);
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .link {
        font-family: $cursiveFont;
        font-size: 2.8rem;
        color: $mainColor;
        font-weight: 700;
        margin-bottom: 60px;
        &:hover {
            text-decoration: underline;
        }
    }
}

.title {
    font-family: $mainFont;
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    font-size: 2.8rem;
    font-weight: 700;
    font-style: italic;
    color: $mainColor;
    text-shadow: $mainColor 0 0 10px;
    p {
        display: inline-block;
        padding: 5%;
        width: 100%;
        background-color: rgba(#000, 0.5);
        line-height: 1;
    }
}

.ico {
    width: 60px;
    height: 60px;
}

@media (max-width: 1430px) {
    .img,
    .item__wrapper,
    .info {
        width: 370px;
        height: 370px;
    }
}

@media (max-width: 1170px) {
    .wrapper{
        grid-template-columns: auto auto;
        width: 800px;
        margin: 0 auto;
    }
    .title{
        font-size: 2.4rem;
    }
}
