@import '../../../vars';

.menu{
    width: 100%;
    padding-top: 50px;
    text-align: center;
    li{
        margin-right: 50px;
        &:last-child{
            margin-right: 0;
        }
    }
	a{
        color: $accentColor;
        font-size: 14px;
        text-transform: uppercase;
		&:hover{
			color: #000;
            transition: 0.15s;
            border-bottom: 1px solid $mainColor;
		}
	}
}

.active{
    color: #000 !important;
    border-bottom: 1px solid $mainColor;
}