@import "../../vars";
@import "../../mixins";

.header {
    grid-area: header;
    padding: 30px 0 10px 0;
    font-size: 1.4rem;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0 20px;
    &__right,
    &__left {
        width: 160px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        width: 440px;
    }
}

.logo {
    width: 100px;
    margin-right: 25px;
}

.icon_style {
    position: relative;
    font-size: 2.2rem;
    cursor: pointer;
    &:hover {
        color: $mainColor;
    }
}

.cart__wrapper {
    position: relative;
    margin-right: 20px;
}

.cart__number {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -12px;
    right: -15px;
    font-size: 1rem;
    background-color: #ccc;
    z-index: 3;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    color: $mainColor;
    font-weight: 700;
}

.search {
    position: relative;
    z-index: 5;

    &__input {
        height: 50px;
        padding: 0 25px;
        border-radius: 30px;
        outline: none;
        transition: all 0.4s ease-in-out;
        border: 1px solid #000;
        font-size: 1.6rem;
        background-color: #dbdbdb;
        caret-color: $mainColor;
        &:focus {
            border: 1px solid $mainColor;
        }
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        right: 6px;
        transform: translateY(-50%);
        width: 40px;
        height: 39px;
        border-radius: 50%;
        background-color: inherit;
        cursor: pointer;
        .icon_style {
            color: #000;
            &:hover {
                color: $mainColor;
            }
        }
        &:hover {
            .icon_style {
                color: $mainColor;
            }
        }
    }
    &__close {
        width: 40px;
        height: 39px;
        border-radius: 50%;
        background-color: $mainColor;
        font-size: 34px;
        position: absolute;
        top: 50%;
        right: 6px;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        cursor: pointer;
        &:hover {
            color: #fff;
        }
        span {
            transform: translateY(-7%);
        }
    }
    &__wrapper {
        width: 550px;
        margin: 0 20px;
    }
    &__active {
        width: 500px;
    }
    &__deactive {
        width: 40px;
    }
    &__list {
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        max-height: 410px;
        overflow: auto;
        background-color: #fff;
        z-index: -1;
        margin-bottom: 0;
        padding: 0 20px 0;
        border: 2px solid $mainColor;
        border-top: none;
        li {
            display: block;
            margin: 5px 0;
            border-bottom: 1px solid $mainColor;
            padding: 4px 20px;
            &:first-child{
                margin-top: 40px;
            }
            &:last-child{
                margin-bottom: 20px;
            }
            a {
                display: block;
                width: 100%;
                font-size: 1.5rem;
            }
            &:hover {
                background-color: $mainColor;
                a {
                    color: #fff;
                }
            }
        }
    }
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &_menu {
        position: absolute;
        top: 50px;
        right: 0;
        opacity: 0;
        transition: all ease-in 0.5s;
        li {
            display: block;
            padding: 2px 60px;
            border: 1px solid #999;
            text-align: center;
            cursor: pointer;
        }
        &_active {
            opacity: 1;
        }
        &_disabled {
            display: none;
        }
    }
}

.ava {
    width: 50px;
    margin-left: 10px;
}

//Styles for mobile menu
.mobile_menu {
    width: 25px;
    height: 18px;
    position: relative;
    cursor: pointer;
    display: none;
}
.hamburger {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin-top: 8px;
    &:after {
        @include ham_open;
        top: 0;
    }
    &:before {
        @include ham_open;
        bottom: 0;
    }
}

.close_hamburger {
    display: none;
    &:after {
        @include ham_close(45deg);
    }
    &:before {
        @include ham_close(-45deg);
    }
}

.active_menu {
    display: none;
}

.deactive_menu {
    display: block;
}

@media (max-width: 1430px) {
    .search {
        margin-left: 40px;
    }
    .cart__wrapper {
        margin-right: 40px;
    }
}

@media (max-width: 860px) {
    .mobile_menu {
        display: block;
    }
    .top {
        justify-content: start;
    }
    .header {
        img {
            margin-top: 75px;
        }
    }
}
