.wrapper{
    background-color: #fff;
    border: 1px solid #D67700;
    width: 80%;
    height: 800px;
    position: fixed;
    z-index: 5;
}
.close{
    font-size: 68px;
    font-weight: 700px;
    position: absolute;
    top: -10px;
    right: 20px;
    cursor: pointer;
}