@import '../../../vars';

.subscribe{
    width: 25%;
    padding: 0 2%;
    input{
        width: 100%;
        margin: 3% 0;
        padding: 2%;
        width: 100%;
        height: 40px;
        background-color: rgba($accentColor, 0.3);
        border: none;
        outline: none;
        text-align: center;
    }
    button{
        width: 100%;
        height: 40px;
        background-color: #000;
        color: #fff;
        border: none;
    }
}

