@import "../../../vars";
@import "../../../mixins";

@mixin btnCalc {
    width: 15px;
    height: 15px;
    margin-top: 12px;
    position: relative;
    cursor: pointer;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100px;
}

.btn {
    &__minus {
        @include btnCalc();
        &::before {
            @include mathSign(50%, 0, 15px, 2px, translateX(-50%));
        }
    }
    &__plus {
        @include btnCalc();
        &::before {
            @include mathSign(50%, 0, 15px, 2px, translateY(-50%));
        }

        &::after {
            @include mathSign(0, 50%, 2px, 15px, translateX(-50%));
        }
    }
}
.calc {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    width: 40px;
}
