@import '../../vars';

.footer{
    grid-area: footer;
    padding: 50px 0;
    border-top: 1px solid $mainColor;
    text-align: center;
    p{
        text-transform: uppercase;
        color: $accentColor;
        font-size: 12px;
        line-height: 5px;
    }
}

.footer__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    min-height: 180px;
}
