@import '../../vars';

.footer{
    grid-area: footer;
    padding: 50px 0;
    text-align: center;
    font-size: 1.6rem;
    p{
        text-transform: uppercase;
        color: $accentColor;
        font-size: 1.2rem;
        line-height: 5px;
    }
}

.footer__top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    min-height: 180px;
    margin: 0 20px;
}

