@import '../../vars';

.wrapper{
    position: relative;
}

.error{
    border: $mainColor 1px solid;
    font-size: 1.4rem;
    width: 240px;
    height: 40px;
    text-align: center;
    padding: 5px 20px;
    width: 40%;
    margin: 0 auto;
    margin-top: 2%;
    display: block;
    text-transform: none;
}

.btn{
    height: 40px;
    background-color: $mainColor;
    border-radius: 5px;
    border: 2px solid #000;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 1.6rem;
    &:hover{
        box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.72);
    }
    &:active{
        transform: translate(2px, 2px);
    }
}

.textarea{
    padding: 10px;
    height: 200px;
    border: 1px solid #000;
    resize: none;
}

.input{
    padding: 10px;
    height: 40px;
    border: 1px solid #000;
}