@import '../../vars';

.wrapper{
    position: relative;
}

.error{
    border: $errorColor 3px solid;
    border-radius: 30px;
    box-shadow: 3px 3px 8px $errorColor;
    font-size: 12px;
    color: $errorColor;
    width: 240px;
    height: 40px;
    position: absolute;
    text-transform: none;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    height: 40px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    &:hover{
        background-color: $accentColor; 
    }
}

.textarea{
    padding: 10px;
    height: 200px;
    border: 1px solid #000;
    resize: none;
}

.input{
    padding: 10px;
    height: 40px;
    border: 1px solid #000;
}