//Style for plus and minus
@mixin mathSign($top, $left, $width, $height, $translate) {
    content: "";
    background-color: $mainColor;
    width: $width;
    height: $height;
    position: absolute;
    top: $top;
    left: $left;
    transform: $translate;
}
//Style for socials icons
@mixin socials($icon) {
    content: $icon;
    position: absolute;
    top: 5px;
    left: 0;
    transform: translate(-50%);
}
//Style lines for title in brand page
@mixin brandTitle() {
    content: "";
    width: 400px;
    height: 2px;
    position: absolute;
    top: 50%;
    background-color: $mainColor;
}
//Styles for hamburger
//Open menu
@mixin ham_open {
    content: "";
    width: 25px;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 0;
}
//Close menu
@mixin ham_close($deg) {
    content: "";
    width: 25px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate($deg);
}


@mixin form_contacts_sizes{
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}