@import '../../vars';

.contacts{
    grid-area: content;
    min-height: 620px;
    font-size: 1.6rem;
    padding-top: 20px;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
}

.list{
    display: block;
    font-size: 2rem;
    font-family: $cursiveFont;
    border-bottom: 1px solid $mainColor;
    width: 50%;
    padding: 2% 0 0;
}

.block{
    &__left{
        width: 40%;
    }
    &__right{
        width: 60%;
    }
}

.form_styles{
    display: block;
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}

.modal{
    z-index: 5;
}


