@import "../../vars";
@import "../../mixins";

.contacts {
    grid-area: content;
    min-height: 620px;
    font-size: 1.6rem;
    padding-top: 20px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
}

.list {
    display: block;
    font-size: 2rem;
    font-family: $cursiveFont;
    border-bottom: 1px solid $mainColor;
    width: 50%;
    padding: 2% 0 0;
}

.block {
    &__left {
        width: 40%;
    }
    &__right {
        width: 60%;
    }
}

.form{
    width: 40%;
    margin: 0 auto;
}

.input {
    padding: 10px;
    height: 40px;
    @include form_contacts_sizes;
}

.textarea {
    padding: 10px;
    height: 200px;
    border: 1px solid #000;
    resize: none;
    @include form_contacts_sizes;
}

.btn{
    @include form_contacts_sizes;
}

.modal {
    z-index: 5;
}
